k8s {
   context = 'k3d-nextflow'

   namespace = 'nextflow'

   runAsUser = 0
   serviceAccount = 'nextflow-sa'
   storageClaimName = 'nextflow'
   storageMountPath = '/mnt/nextflow'
}

executor {
  queueSize = 30
}

process {
   executor = 'k8s'  
   container = "quay.io/nextflow/rnaseq-nf:v1.2.1"
}

